.form-section{
    height: 100vh;
    background-color: #FFFFFF;
    z-index: 1000;
}

.info-section{
    height:100vh;
    background-color: #2f54ea;
    position: relative;
}

.login-container{
    height: 100vh;
    width: 100vw !important;
    margin: 0 !important;
    padding: 0;
    overflow-y: hidden;
}

.rect-1{
    position: absolute;
    top:0;
    right: 30%;
}
