.form-group{
    padding: 0.5rem 1.5rem;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 0.2rem !important;
    position: relative;
}

.form-group>label{
    position: absolute;
    left: 2rem;
    top:-12px;
    background-color: #FFFFFF;
    color: #000000;
    padding: 0 5px;
    z-index: 1000;
    font-size: 0.9rem;
    font-weight: 500;
}

.input-field{
    border: none;
    border: 0;
    width: 90%;
    line-height: 100%;
}

.input-field:focus-visible{
    border: none;
    outline: none;
    background-color: #FFFFFF;
}

.signup-form{
    padding: 2rem 7rem;
}

.password-info{
    padding: 1rem 0;
    font-size: 0.8rem;
    font-weight: 550;
    color: #A8A196;
    text-align: left;
}

.signup-or-container{
    padding: 0.3rem 7rem 0.5rem;
}

.signup-google-btn-container{
    padding: 0.5rem 7rem;
}